body {
    background-color: #CFD0CF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-place {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    list-style-type: none;
}

.field {
    list-style-type: none;
    margin: 12.5px;
    perspective: 600px;
}

.flip {
    transform: rotateY(180deg);
}

.back, .field {
    width: 130px;
    height: 130px;
}

.front {
    width: 120px;
    height: 120px;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    border-radius: 9px;
}

.front {
    z-index: 2;
    background: linear-gradient(to top right, #22AB93, #19668D);
    border: 5px solid #FFFFFF;
}

.back {
    transform: rotateY(180deg);
    background-color: #FFFFFF;
    font-size: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.name {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 42px;
    line-height: 47px;
    padding: 40px 0 30px 0;
    color: #434344;
    user-select: none;
}

.timer {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    padding-top: 30px;
    color: #434344;
    user-select: none;
}

.red_back {
    background-color: #F44336;
}

.green_back {
    background-color: #5AD66F;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    /*display: none;*/
    justify-content: center;
    align-items: center;
    display: flex;
}

.popup__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;

    min-width: 350px;
    width: 25%;
}

#popup__title {
    font-size: 46px;
    line-height: 48px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 30px auto 0;
    display: flex;
}

.popup__button {
    border-radius: 10px;
    color: #fff;
    height: 40px;
    padding: 10px 30px 35px;
    background: linear-gradient(90deg, #19668D, #22AB93);
    margin: 40px 0;
    font-size: 20px;
    line-height: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    outline:none;
}

.anim_1 {
    animation: 1s linear 0s infinite both running letter-animation;
}

.anim_2 {
    animation: 1s linear 0.1s infinite both running letter-animation;
}

.anim_3 {
    animation: 1s linear 0.2s infinite both running letter-animation;
}

.anim_4 {
    animation: 1s linear 0.3s infinite both running letter-animation;
}

@keyframes letter-animation {
    0%, 100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(1.5) translateY(-12px);
    }
}